{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>
    {% block static_files %}
    <!--основные стили страницы-->
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
    <link rel="stylesheet" href="{% static "css/phone.css" %}">
    {% endblock %}
  </head>
  <body>
    <div class="page">
      <header class="header">
        <a href="{% url "main_page" %}">
          <img src="{% static "img/calc_ico.png" %}" height="70px" alt="иконка
          отсутствует..." />
          <b><i>Проект "Онлайн-калькуляторы"</i></b>
        </a>
        <a href="{% url "about_page" %}" target="_blank">
          <img src="{% static "img/programmer.png" %}" height="70px" alt="иконка
          отсутствует..." />
          <b>Об авторе</b>
        </a>
      </header>

      {% block index %}
      {% endblock %}

      <footer class="footer">
        <ul>
          <li>2022-2023 © Габдрахманов Альберт</li>
          <li>
            Пользуясь данным сайтом Вы соглашаетсь на то, что всю
            ответственность за результат расчета Вы берете на себя.
          </li>
          <li>Не присваиваем себе авторства</li>
        </ul>
        <img src="{% static "img/monitor.png" %}" height="90px" alt="картинка
        отсутствует..." />
      </footer>
    </div>
  </body>
</html>

