
<div id="intro-page" class="class-text">
  <h1 class="header-mpages">Здраствуйте, дорогие пользователи!</h1>
  <p>
    На этой Веб-странице вы можете с лёгкостью преобразовывать различные числа,
    любым удобным для вас способом.
  </p>
  <p>
    По отзывам и предложениям обращайтесь во вкладку.
    <a class="local-link" onclick="view_change(5)"> "Сообщить о проблеме"</a>
  </p>
  <h2>Чтобы использовать обычный калькулятор:</h2>
  <ol>
    <li>
      Перейдите во вкладку
      <a class="local-link" onclick="view_change(1)">"Обычный калькулятор"</a>
    </li>
    <li
      class="tooltip-p"
      data-tooltip="Вы можете комбинировать использование клавиатуры с кнопками"
    >
      Используйте кнопки или клавиатуру чтобы ввести нужное вам арифметическое
      выражение
    </li>
    <li>Нажмите кнопку или клавишу "="</li>
    <li
      class="tooltip-p"
      data-tooltip="Вы могли заметить, что ответ на ваше выражение находится под полем ввода калькулятора, клавишу {=} нажимать необязательно"
    >
      Результат вашего выражения появится на месте введённого текста
    </li>
  </ol>

  <h2>Чтобы использовать калькулятор систем счисления:</h2>
  <ol>
    <li>
      Перейдите во вкладку
      <a class="local-link" onclick="view_change(2)"
        >"Калькулятор систем счисления"</a
      >
    </li>
    <li>Введите число которое надо перевести.</li>
    <li>Укажите его систему счисления.</li>
    <li>Укажите в какую систему счисления переводить.</li>
    <li>Нажмите кнопку "Перевести"</li>
  </ol>

  <p class="first-p">
    Калькулятор перевода чисел имеет одно поле для ввода. В это поле необходимо
    ввести число которое Вы хотите перевести. После этого Вам обязательно нужно
    указать в какой системе счисления Вы его ввели. Для этого под полем ввода
    есть графа "Его система счисления".
  </p>
  <p>
    Если Вы не нашли своей системы, то выберите графу "другая" и появится поле
    ввода . В это поле необходимо вписать основание системы одним числом без
    пробелов. Далее необходимо выбрать в какую систему хотите перевести данное
    число. Если Вы опять не нашли нужной системы то введите ее в графе "другая".
  </p>
</div>
