{% extends 'index.html' %}
{% block title %}Системы счисления{% endblock %}
{% load static %}

{% block content %}
<div class="num-sys-calc-wrapper bg-light-blue">
  <!-- onsubmit="ValidateCalcForm()" -->
  <form action="{% url "nsyscalc_page" %}" method="post" id="CalcForm" name="CalcForm">
    {% csrf_token %}
    <table width="760" align="center" id="table-calc-wrapper">
      <tbody id="table-calc">
        <tr>
          <td id="td-input" align="center" colspan="2">
            {{ NumSysCalcForm.isRight }}
            <label> {{ NumSysCalcForm.calc_input.label }} {{ NumSysCalcForm.calc_input }}</label>
          </td>
        </tr>
        <tr id="line-checkbox">
          <td class="left-checkbox">
            <fieldset class="radiobox" id="left-radiobox">
              <legend class="font-blue label-desc">
                {{ NumSysCalcForm.ss.label }}
              </legend>
              {% for radio in NumSysCalcForm.ss %}
              <div class="font-blue num-sys-labels">
                {{ radio }}
              </div>
              {% endfor %}
              <label id="left-other" style="display: none;">{{ NumSysCalcForm.other_ss.label }} {{ NumSysCalcForm.other_ss }}</label>
            </fieldset>
          </td>
          <td class="right-checkbox">
            <fieldset class="radiobox" id="right-radiobox">
              <legend class="font-green label-desc">
                {{ NumSysCalcForm.ss1.label }}
              </legend>
              {% for radio in NumSysCalcForm.ss1 %}
              <div class="font-green num-sys-labels">
                {{ radio }}
              </div>
              {% endfor %}
              <label id="right-other" style="display: none;"> {{ NumSysCalcForm.other_ss1.label }} {{ NumSysCalcForm.other_ss1 }}</label>
            </fieldset>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button type="submit" class="btn-send" name="btn_send" class="btn-submit">ПЕРЕВЕСТИ
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>

  {% if resultNumSysCalcForm %}
  <div style="margin: auto; width: fit-content;">
    <h1 style="text-decoration: #feab04 dotted underline; color: #86fc6f;">Ответ: {{ resultNumSysCalcForm }}</h1>
  </div>
  {% else %}
  <!--here will be answer-->
  {% endif %}
</div>
<script src="{% static "js/ValidateForm.js" %}"></script>
{% endblock %}