{% extends 'index.html' %}
{% block title %}Сообщение автору{% endblock %}

{% block content %}
<div class="report-wrapper bg-cyan">
  <div class="class_form">
    <h1 class="form-header" >Сообщите о проблеме:</h1>
    <form action="{% url "thanks_page" %}"
          method="post"
          id="ReportForm"
          name="ReportForm"
          >
    {% csrf_token %}
    <!--{{ ReportForm }}-->
    <table class="form_table">
      <tbody>
        <tr>
          <th>{{ ReportForm.name.label }}</th>
          <td> {{ ReportForm.name }} </td>
        </tr>
        <tr>
          <th>{{ ReportForm.phone.label }}</th>
          <td> {{ ReportForm.phone }} </td>
        </tr>
        <tr>
          <th>{{ ReportForm.message.label }}</th>
          <td> {{ ReportForm.message }} </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <button type="submit" class="btn-submit">ОСТАВИТЬ ЗАЯВКУ</button>
          </td>
        </tr>
      </tbody>
    </table>
      <!--<div class="justify-content-center">
        <div class="form-row">
          <label for="user_name">Ваше имя</label>
          <input type="text" id="user_name" />
        </div>
        <div class="form-row">
          <label for="user_phone">Ваш телефон</label>
          <input type="text" id="user_phone" />
        </div>
        <div class="form-row">
          <label for="user_q">Ваш вопрос или предложение</label>
          <input type="text" id="user_q" />
        </div>
      </div>
  -->
    </form>
  </div>
</div>
{% endblock %}