<div class="class-text" id="theory-page">
  <p>
    Научиться переводить число из одной системы счисления в другую очень просто.
  </p>
  <p>
    Любое число может быть легко переведено в десятичную систему по следующему
    алгоритму: Каждая цифра числа должна быть умножена на основание системы
    счисления этого числа возведенное в степень равное позиции текущей цифры в
    числе справа налево, причём счёт начинается с 0.
  </p>
  <div
    class="tooltip-p"
    data-tooltip="Если вам нужно перевести из системы счисления основанием больше 10 в 10-ую, помните, что: A = 10, B = 11, C = 12 и т. д."
  >
    <p>Пример №1:</p>
    <p>
      A25F<sub>16</sub> = 10 * 16<sup>3</sup> + 2 * 16<sup>3</sup> + 5 * 16<sup
        >3</sup
      >
      + 15* 16<sup>3</sup> = 40960 + 512 + 80 + 15 = 41567<sub>10</sub>
    </p>
  </div>
  <div
    class="tooltip-p"
    data-tooltip="При переводе дробной части из другой системы счисления в 10-ую, каждую цифру слева направо умножайте на основание системы счисления возведённую в степень -{порядковый номер дробного числа}"
  >
    <p>Пример №2:</p>
    <p>
      6253,11<sub>7</sub> = 6 * 7<sup>3</sup> + 2 * 7<sup>2</sup> + 5 * 7<sup
        >1</sup
      >
      + 3 * 7<sup>0</sup> + 1 * 7<sup>-1</sup> + 1 * 7<sup>-2</sup> = 2058 + 98
      + 35 + 3 + 0.14285714285714 + 0.020408163265306 = 2194.1632653061<sub
        >10</sub
      >
    </p>
  </div>
</div>
