#table-calc-wrapper {
  font-size: 22px;
  font-family: "Arial", Times, serif;
}

#table-calc {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

#td-input {
  vertical-align: middle;
  width: 500px;
  height: 54px;
  color: darkblue;
}

#id_calc_input {
  width: 75%;
  background-color: chartreuse;
  color: darkblue;
  font-size: inherit;
  font-family: inherit;
  text-align: center;
  outline-color: #000;
  margin-top: 10px;
  margin-bottom: 20px;
}

:active,
:hover,
:focus {
  outline-color: darkblue;
}

/*.line-checkbox > td {
    width: 20px;
    border: 0px #C0C0C0 solid;
    text-align: center;
    padding: 100px;
}*/
.label-desc {
  margin-bottom: 10px;
  text-align: center;
}

.radiobox {
  display: grid;
  gap: 10px;
}

.left-checkbox {
  background-color: #fff97e;
  text-align: end;
  padding: 0px 15px 10px 0px;
  border: 5px solid #7db9ff;
  border-radius: 20%;

  width: 230px;
  height: 300px;
}

.right-checkbox {
  background-color: #87f4ff;
  text-align: start;
  padding: 0px 0px 10px 15px;
  border: 5px solid #17ab02;
  border-radius: 20%;

  width: 230px;
  height: 300px;
}

.num-sys-labels {
  font-size: 15px;
  color: #000;
}

.font-blue {
  color: darkblue;
}

.font-green {
  color: darkgreen;
}

#left-other > input {
  width: 40px;
  outline-color: darkblue;
  color: darkgreen;
}

#right-other > input {
  width: 40px;
  outline-color: darkgreen;
  color: darkblue;
}

#btn-send {
  color: firebrick;
  background-color: lawngreen;
  border: 5px solid;
  border-color: chocolate;
  border-radius: 50%;
  padding: 20px 20px;
}
