.class_form {
    display: block;
    position: relative;
    margin: 0px auto;
    align-items: center;
}

.form_table {
    align-items: center;
    margin: 0px auto;
    border-spacing: 35px 10px;
}

.btn-submit {
    margin: 0px auto;
    padding: 6px 14px;
    align-items: center;
}

.form-header {
    margin: 0px auto 20px auto;
    text-align: center;
}

.thanks-block {
    margin: auto;
    padding: 40px 20px;
    color: aqua;
    background-color: brown;
}