<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %} {% endblock %}</title>
    <!--основные стили страницы-->
    <link rel="stylesheet" href="styles.css" />
    <!--Подключаем библиотеку jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!--стили простого калькулятора-->
    <link rel="stylesheet" href="simple_calc_styles.css" />
    <!--стили калькулятора систем счисления-->
    <link rel="stylesheet" href="NumSysCalc_styles.css" />
  </head>
  <body>
    <div class="page">
      <header class="header">
        <a href="">
          <img
            src="img/calc_ico.png"
            height="70px"
            alt="иконка отсутствует..."
          />
          <b><i>Проект "Онлайн-калькуляторы"</i></b>
        </a>
        <a href="" target="_blank">
          <img
            src="img/programmer.png"
            height="70px"
            alt="иконка отсутствует..."
          />
          <b>Об авторе</b>
        </a>
      </header>

      <main class="content">
        <ul id="select-bar">
          <li
            class="select-btn active"
            id="intro_page"
            onclick="view_change(0);"
          >
            Инструкция
          </li>
          <li
            class="select-btn"
            id="simple_calc_page"
            onclick="view_change(1);"
          >
            Обычный Калькулятор
          </li>
          <li
            class="select-btn"
            id="num_sys_calc_page"
            onclick="view_change(2);"
          >
            Калькулятор <br />Систем Счисления
          </li>
          <li class="select-btn" id="theory_page" onclick="view_change(3);">
            Теория
          </li>
          <li class="select-btn" id="history_page" onclick="view_change(4);">
            История
          </li>
          <li class="select-btn" id="report_page" onclick="view_change(5);">
            Сообщить о проблеме
          </li>
        </ul>
        <!--<br clear="all" />-->
        <div class="page-container">
          <div
            class="intro-page-wrapper bg-light-orange"
            style="display: block"
          >
            <div class="intro-page">
              <h1>Здраствуйте, дорогие пользователи!</h1>
              <p>
                На этой Веб-страницы вы можете с лёгкостью преобразовывать
                различные числа, любым удобным для вас способом.
              </p>
              <p>
                По отзывам и предложениям обращайтесь во вкладку.
                <a class="local-link" onclick="view_change(5)">
                  "Сообщить о проблеме"</a
                >
              </p>
              <h2>Чтобы использовать обычный калькулятор:</h2>
              <ol>
                <li>
                  Перейдите во вкладку
                  <a class="local-link" onclick="view_change(1)"
                    >"Обычный калькулятор"</a
                  >
                </li>
                <li
                  class="tooltip-p"
                  data-tooltip="Вы можете комбинировать использование клавиатуры с кнопками"
                >
                  Используйте кнопки или клавиатуру чтобы ввести нужное вам
                  арифметическое выражение
                </li>
                <li>Нажмите кнопку или клавишу "="</li>
                <li
                  class="tooltip-p"
                  data-tooltip="Вы могли заметить, что ответ на ваше выражение находится под полем ввода калькулятора, клавишу {=} нажимать необязательно"
                >
                  Результат вашего выражения появится на месте введённого текста
                </li>
              </ol>

              <h2>Чтобы использовать калькулятор систем счисления:</h2>
              <ol>
                <li>
                  Перейдите во вкладку
                  <a class="local-link" onclick="view_change(2)"
                    >"Калькулятор систем счисления"</a
                  >
                </li>
                <li>Введите число которое надо перевести.</li>
                <li>Укажите его систему счисления.</li>
                <li>Укажите в какую систему счисления переводить.</li>
                <li>Нажмите кнопку "Перевести"</li>
              </ol>

              <p>
                Калькулятор перевода чисел имеет одно поле для ввода. В это поле
                необходимо ввести число которое Вы хотите перевести. После этого
                Вам обязательно нужно указать в какой системе счисления Вы его
                ввели. Для этого под полем ввода есть графа "Его система
                счисления".
              </p>
              <p>
                Если Вы не нашли своей системы, то выберите графу "другая" и
                появится поле ввода . В это поле необходимо вписать основание
                системы одним числом без пробелов. Далее необходимо выбрать в
                какую систему хотите перевести данное число. Если Вы опять не
                нашли нужной системы то введите ее в графе "другая".
              </p>
            </div>
          </div>
          <div class="simple-calc-wrapper bg-darkred" style="display: none">
            <div class="calc">
              <div class="calc-screen-wrapper">
                <textarea
                  type="text"
                  id="calc-screen"
                  autocomplete="off"
                  placeholder="Enter:"
                  rows="1"
                  autofocus="autofocus"
                >
0</textarea
                >
                <!--wrap="off" для одной строки -->
                <!--maxlength="39"-->
                <!--value="0"-->
                <p id="hidden-answer">0</p>
              </div>
              <div class="buttons">
                <div class="btn-row">
                  <div class="calc-btn-parent bg-gray ac">ac</div>
                  <div class="calc-btn-parent bg-gray plus-minus">+/-</div>
                  <div class="calc-btn-parent bg-gray percent">%</div>
                  <div class="calc-btn-parent bg-gray division">/</div>
                </div>
                <div class="btn-row">
                  <div class="calc-btn-parent seven">7</div>
                  <div class="calc-btn-parent eight">8</div>
                  <div class="calc-btn-parent nine">9</div>
                  <div class="calc-btn-parent bg-orange multiply">x</div>
                </div>
                <div class="btn-row">
                  <div class="calc-btn-parent four">4</div>
                  <div class="calc-btn-parent five">5</div>
                  <div class="calc-btn-parent six">6</div>
                  <div class="calc-btn-parent bg-orange minus">-</div>
                </div>
                <div class="btn-row">
                  <div class="calc-btn-parent one">1</div>
                  <div class="calc-btn-parent two">2</div>
                  <div class="calc-btn-parent three">3</div>
                  <div class="calc-btn-parent bg-orange plus">+</div>
                </div>
                <div class="btn-row">
                  <div class="calc-btn-parent bg-orange invertor">Inv</div>
                  <div class="calc-btn-parent zero">0</div>
                  <div class="calc-btn-parent dot">.</div>
                  <div class="calc-btn-parent bg-orange equal">=</div>
                </div>
              </div>

              <!--скрипт блокирующий ввод букв-->
              <script>
                $("body").on("input", "#calc-screen", function () {
                  this.value = this.value.replace(/[^\d\.+\-=x/%()^]+/g, "");
                });
              </script>
              <!-- логика работы простого калькулятора -->
              <script src="simple_calc.js"></script>
            </div>
          </div>
          <div class="num-sys-calc-wrapper bg-light-blue" style="display: none">
            <form
              name="CalcForm"
              method="post"
              action=""
              onsubmit="return ValidateCalcForm(this)"
            >
              <!--name="Form1"-->
              <!--action="https://calculatori.ru/perevod-chisel.html" onsubmit="return ValidateForm1(this)"-->
              <!--<input type="hidden" name="raschet" value="1">-->
              <table width="760" align="center" id="table-calc-wrapper">
                <tbody id="table-calc">
                  <tr>
                    <td id="td-input" align="center" colspan="2">
                      <label
                        >Введите число:
                        <input
                          type="text"
                          id="calc-input"
                          name="calc-input"
                          value="0"
                          autocomplete="off"
                        />
                      </label>
                      <!--id="Editbox1"-->
                    </td>
                  </tr>
                  <tr id="line-checkbox">
                    <!--style="text-align:right; padding: 10px 10px 25px 0px;"-->
                    <td class="left-checkbox">
                      <!--height="74"-->
                      <p class="font-blue label-desc">
                        Его<br />
                        система счисления
                      </p>
                      <!--<p class="font-blue"></p>-->
                      <font class="font-blue">Двоичная</font
                      ><input
                        type="RADIO"
                        name="ss"
                        id="radio1"
                        value="1"
                        onclick="offOtherLeft()"
                      /><br />
                      <font class="font-blue">Троичная</font
                      ><input
                        type="RADIO"
                        name="ss"
                        id="radio1"
                        value="2"
                        checked=""
                        onclick="offOtherLeft()"
                      /><br />
                      <font class="font-blue">Восьмеричная</font
                      ><input
                        type="RADIO"
                        name="ss"
                        id="radio1"
                        value="3"
                        onclick="offOtherLeft()"
                      /><br />
                      <font class="font-blue">Десятичная</font
                      ><input
                        type="RADIO"
                        name="ss"
                        id="radio1"
                        value="4"
                        onclick="offOtherLeft()"
                      /><br />
                      <font class="font-blue">Шестнадцатиричная</font
                      ><input
                        type="RADIO"
                        name="ss"
                        id="radio1"
                        value="5"
                        onclick="offOtherLeft()"
                      /><br />
                      <font class="font-blue">Другая</font
                      ><input
                        type="RADIO"
                        name="ss"
                        id="radio1"
                        value="6"
                        onclick="onOtherLeft()"
                      /><br />
                      <label
                        style="display: none"
                        id="left-other"
                        class="font-blue"
                      >
                        Какая? (число)
                        <input type="text" name="ssdrugaya" value="" />
                      </label>
                    </td>
                    <!--style="text-align:left; padding: 10px 0px 25px 10px;"-->
                    <td class="right-checkbox">
                      <p class="font-green label-desc">
                        Перевести<br />
                        в
                      </p>
                      <!--<p class="font-green" style="text-align: center;"></p>-->
                      <input
                        type="RADIO"
                        name="ss1"
                        id="radio2"
                        value="1"
                        checked=""
                        onclick="offOtherRight()"
                      />
                      <font class="font-green">Двоичную</font><br />
                      <input
                        type="RADIO"
                        name="ss1"
                        id="radio2"
                        value="2"
                        onclick="offOtherRight()"
                      />
                      <font class="font-green">Троичную</font><br />
                      <input
                        type="RADIO"
                        name="ss1"
                        id="radio2"
                        value="3"
                        onclick="offOtherRight()"
                      />
                      <font class="font-green">Восьмеричную</font><br />
                      <input
                        type="RADIO"
                        name="ss1"
                        id="radio2"
                        value="4"
                        onclick="offOtherRight()"
                      />
                      <font class="font-green">Десятичную</font><br />
                      <input
                        type="RADIO"
                        name="ss1"
                        id="radio2"
                        value="5"
                        onclick="offOtherRight()"
                      />
                      <font class="font-green">Шестнадцатиричную</font><br />
                      <input
                        type="RADIO"
                        name="ss1"
                        id="radio2"
                        value="6"
                        onclick="onOtherRight()"
                      />
                      <font class="font-green">Другую</font><br />
                      <label
                        style="display: none"
                        id="right-other"
                        class="font-green"
                      >
                        Какую? (число)
                        <input type="text" name="ss1drugaya" value="" />
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <!--id="btn-send"-->
                      <input
                        type="button"
                        onclick="ValidateCalcForm(this)"
                        id="btn-send"
                        name="btn-send"
                        value="ПЕРЕВЕСТИ"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
              <script src="ValidateForm.js"></script>
            </form>
          </div>
          <div class="theory-wrapper bg-purple" style="display: none">
            <p>
              Научиться переводить число из одной системы счисления в другую
              очень просто.
            </p>
            <p>
              Любое число может быть легко переведено в десятичную систему по
              следующему алгоритму: Каждая цифра числа должна быть умножена на
              основание системы счисления этого числа возведенное в степень
              равное позиции текущей цифры в числе справа налево, причём счёт
              начинается с 0.
            </p>
            <div
              class="tooltip-p"
              data-tooltip="Если вам нужно перевести из системы счисления основанием больше 10 в 10-ую, помните, что: A = 10, B = 11, C = 12 и т. д."
            >
              <p>Пример №1:</p>
              <p>
                A25F<sub>16</sub> = 10 * 16<sup>3</sup> + 2 * 16<sup>3</sup> + 5
                * 16<sup>3</sup> + 15* 16<sup>3</sup> = 40960 + 512 + 80 + 15 =
                41567<sub>10</sub>
              </p>
            </div>
            <div
              class="tooltip-p"
              data-tooltip="При переводе дробной части из другой системы счисления в 10-ую, каждую цифру слева направо умножайте на основание системы счисления возведённую в степень -{порядковый номер дробного числа}"
            >
              <p>Пример №2:</p>
              <p>
                6253,11<sub>7</sub> = 6 * 7<sup>3</sup> + 2 * 7<sup>2</sup> + 5
                * 7<sup>1</sup> + 3 * 7<sup>0</sup> + 1 * 7<sup>-1</sup> + 1 *
                7<sup>-2</sup> = 2058 + 98 + 35 + 3 + 0.14285714285714 +
                0.020408163265306 = 2194.1632653061<sub>10</sub>
              </p>
            </div>
          </div>
          <div class="history-wrapper bg-olive" style="display: none">
            <h1>Последние расчёты калькуляторов</h1>
            <ol>
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li>9</li>
              <li>10</li>
            </ol>
          </div>
          <div class="report-wrapper bg-cyan" style="display: none">
            <div class="class_form">
              <h1>Сообщите о проблеме:</h1>
              <form action="" method="post">
                <div class="justify-content-center">
                  <div class="form-row">
                    <label for="user_name">Ваше имя</label>
                    <input type="text" id="user_name" />
                  </div>
                  <div class="form-row">
                    <label for="user_phone">Ваш телефон</label>
                    <input type="text" id="user_phone" />
                  </div>
                  <div class="form-row">
                    <label for="user_q">Ваш вопрос или предложение</label>
                    <input type="text" id="user_q" />
                  </div>
                </div>
                <div class="form-row">
                  <button type="submit">ОСТАВИТЬ ЗАЯВКУ</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </main>

      <footer class="footer">
        <ul>
          <li>2022-2023 © Габдрахманов Альберт</li>
          <li>
            Пользуясь данным сайтом Вы соглашаетсь на то, что всю
            ответственность за результат расчета Вы берете на себя.
          </li>
          <li>Не присваиваем себе авторства</li>
        </ul>
        <img
          src="img/monitor.png"
          height="90px"
          alt="картинка отсутствует..."
        />
      </footer>
      <!--смена подстраниц через кнопки -->
      <script src="changeMiniPages.js"></script>
    </div>
  </body>
</html>

<!--<p>Онлайн-калькуляторы: классический, перевод по системам счисления</p>-->
